.main_section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 130vh;  
}
